<nav class="navbar navbar-expand-lg background custom-border">
    <div class="container-fluid">
      <P class="text-font-dark text-font m-0 title px-2" href="#">Traductor</P>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item d-flex align-items-center justify-content-center px-2">
            <p class="text-font text-font-dark m-0 active" aria-current="page" href="#">Diccionario</p>
          </li>
          <li class="nav-item d-flex align-items-center justify-content-center px-2">
            <p class="nav-link text-font text-font-dark m-0" href="#">Ayuda</p>
          </li>
          <li class="nav-item d-flex align-items-center justify-content-center px-2">
            <p class="text-font text-font-dark m-0 active" aria-current="page" href="#">Mis Notas</p>
          </li>
          <li class="nav-item d-flex align-items-center justify-content-center px-2">
            <p class="text-font text-font-dark m-0 active" aria-current="page" href="#">Sobre Nosotros</p>
          </li>
          <li class="nav-item">
        </ul>
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <button (click)="toggleTheme()">Cambiar tema</button>
        <div [ngClass]="{'light-theme': lightThemeEnabled, 'dark-theme': !lightThemeEnabled}"> -->
          <!-- Contenido del encabezado aquí -->
        <!-- </div> -->
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets\header-icon\user.png" alt="user" style="width: 2rem; height: 2rem;">
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </li>
        </ul>
    </div>
    </div>
  </nav>