.custom-border {
    border-bottom: 2px solid #CBCFD0;
  }

  .text-font:hover{
    color: #F6C23F; 
  }
  
.title{
    cursor:pointer;
  }

  .light-theme {
    /* Estilos para el tema claro */
  }
  
  .dark-theme {
    /* Estilos para el tema oscuro */
  }