<div class="card-option d-flex px-2 mx-2">
    <!-- <img class="card-img-top" [src]="imageUrl" alt="cangrejo" style="height: 100%; width: auto;">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">Texto.</p>
    </div> -->
    <div style="width: 30%; height: 100%; align-items: center; justify-content: center; display:flex;">
      <img class="card-img-top" [src]="imageUrl" alt="cangrejo" style="height: auto; width: 100%;">
    </div>
    <div class="px-3" style="height: auto; width: 100%; justify-content: center; display:flex; flex-direction: column;">
      <h2 class="card-title mb-1">{{ title }}</h2>
      <p class="card-text">{{ translation }}</p>
    </div>
  </div>

  
  <!-- <div class="card">
    <div class="card-body">
      <ng-content select=".card-title"></ng-content>
      <ng-content select=".card-image"></ng-content>
      <ng-content select=".card-text"></ng-content>
    </div>
  </div> -->