<div>
    <div class="custom-search-container">
        <form class="d-flex" role="search" (submit)="search($event)">
            <input class="form-control me-2 custom-search-input" type="search" placeholder="Buscar palabra" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>   
    </div>

    <div *ngIf="filteredResults.length > 0" class="container">
        <div *ngFor="let result of filteredResults" class="result-item">
            <h3 class="m-0">{{ result.title }}</h3>
            <p class="m-0">{{ result.description }}</p>
        </div>
    </div>
    

    <div class="w-100 d-flex justify-content-center">
        <h2 class="mb-0 mt-3">Categorías</h2>
    </div>
    <div class="w-100 d-flex justify-content-center py-3">
        <ngx-slick-carousel class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig">
            <div ngxSlickItem class="slide" *ngFor="let card of cards; let i = index;">
                <!-- <div style="background: lime; margin-inline: 2em; height: 100px;">{{i}}</div> -->
                <app-card [id]="i" [title]="card.title" [imageUrl]="card.URL" [translation]="card.translation" (click)="redirectFromCard(card.route)"></app-card>
            </div>
        </ngx-slick-carousel>
        <!-- <div *ngFor="let card of cards">
            <app-card [title]="card.title" [imageUrl]="card.URL" [translation]="card.translation" (click)="redirectFromCard(card.route)"></app-card>
        </div> -->
    </div>
    <!-- <div>
        <button button class="btn btn-outline-success">Animales</button>
        <button button class="btn btn-outline-success">Animales</button>
        <button button class="btn btn-outline-success">Animales</button>
    </div>

    <div class="container">
  <div class="jumbotron">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p class="lead">Este es un ejemplo de un jumbotron en Angular con Bootstrap.</p>
    <hr class="my-4">
    <p>¡Empieza a utilizar Angular y Bootstrap hoy mismo!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Aprender más</a>
  </div>
</div> -->


</div>