.custom-search-input {
    /* Estilos para el campo de búsqueda */
    width: 40rem; /* Ajusta el ancho según lo desees */
}

.custom-search-container {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 4rem;
}

.container{
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px; 
    margin-top: 15px;
}

.result-item{
    margin-bottom: 10px;
}

.carousel{
    width: 100%;
}