<div>
    <div class="custom-search-container">
        <form class="d-flex flex-column" role="search">
            <input 
                class="form-control mx-0 custom-search-input" 
                type="search" 
                placeholder="Buscar palabra" 
                aria-label="Search" 
                [(ngModel)]="searchQuery" 
                name="searchQuery"
                (input)="onSearch($event)"
            >
            <div class="w-100 mt-2 container" *ngIf="filteredResults.length > 0">
                <div *ngFor="let result of filteredResults">
                    <div class="d-flex align-items-end">
                        <p class="my-0 word">{{ result.word }} </p>
                        <div class="d-flex">
                            <div class="d-flex align-items-end" *ngFor="let translation of result.translations; let i = index;">
                                <p class="m-0 translation">{{ translation.term }}</p><span *ngIf="i < result.translations.length">, </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>   
    </div>

    <div class="w-100 d-flex justify-content-center">
        <h2 class="mb-0 mt-3">Categorías</h2>
    </div>
    <div class="row mx-0 w-100">
        <div class="col-md-3 mb-4 px-1" *ngFor="let card of categories">
            <app-card [id]="card.ID" [title]="card.title" [imageUrl]="card.img_url" [translation]="card.translation" (click)="redirectFromCard([card.route])"></app-card>
        </div>
    </div>
    <!-- <div>
        <button button class="btn btn-outline-success">Animales</button>
        <button button class="btn btn-outline-success">Animales</button>
        <button button class="btn btn-outline-success">Animales</button>
    </div>

    <div class="container">
  <div class="jumbotron">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p class="lead">Este es un ejemplo de un jumbotron en Angular con Bootstrap.</p>
    <hr class="my-4">
    <p>¡Empieza a utilizar Angular y Bootstrap hoy mismo!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Aprender más</a>
  </div>
</div> -->


</div>